.construction{
    margin-bottom: 20rem;
    &-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        text-align: center;
        h4{
            font-size: 3.2rem;
            line-height: 1.2;
            font-weight: 700;
            display: flex;
            align-items: flex-end;
            margin-bottom: 30px;
        }
    }
    &-list{
        .slick-dots{
            bottom: -8rem;
            li{
               background-color: #cccccc; 
               border-radius: 10rem;
               width: 4rem;
               height: 4rem;
               button{
                    margin: 1rem auto;
                    color: rgb(0, 0, 0);
                    font-size: 1.6rem;
                    &::before{
                        display: none;
                    }
               }
            }
            .slick-active{
                background-color: #26948a; 
                button{
                    color: #fff;
                }
            }
        }
       
        .slick-next {
            right: 49.6rem;
            top: 65.2rem;
            background-color: #cccccc; 
            border-radius: 10rem;
            width: 4rem;
            height: 4rem;
            z-index: 1;
            &:hover{
                background-color: #26948a;
                color: #fff;
            }
            &:focus{
                background-color: #cccccc; 
                &:hover{
                    background-color: #26948a;
                }
            }
            &::before{
                color: #fff0;
                position: absolute;
                top: 1rem;
                left: 1.5rem;
                background-image: url('../images/chevron-right-solid.svg');
                background-repeat: no-repeat;
                filter: brightness(0) invert(0);
            } 
        }
        .slick-prev{
            display: none;
        }
        &__item{
            margin-bottom: 3rem;
            margin-right: 1rem !important;
            position: relative;
            overflow: hidden;
            &:hover .construction-list__item--content{
                visibility: visible;
                opacity: 1;
                transform: translate(0,0);
                .overlay-item{
                    visibility: visible;
                    opacity: 1;
                    transform:  translate(0,0);
                }
            }
            &--image{
                height: 26rem;
                width: 37rem;
                margin: 0 2rem 0 -2rem;
            }
            &--content{
                visibility: hidden;
            }
        }
    }
    .overlay{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        background: rgba(255,255,255,.9);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: 0.6s ease;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        width: 37rem;
        h4{
            font-size: 2.4rem;
            line-height: 1.2;
        }
        p{
            color: rgba(46,52,73,.6);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 1.6rem;
        }
        &-item{
            padding: 16px 24px;
            transition: 1s ease-in-out;
            transition-delay: 0.4s;
            opacity: 0;
            visibility: hidden;
            transform: translateX(10px);
        }
        .project-btn{
            position: relative;
            padding: 0;
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background: #26948A;
            }
            .btn-esp{
                padding: 10px 40px;
                display: block;
                background-color: transparent;
                display: flex;
                align-items: center;
                position: relative;
                z-index: 2;
                width: fit-content;
                cursor: pointer;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #26948A;
                    transform: perspective(10px) rotateX(1deg) translateY(-1px);
                    border-radius: 26px 26px 0 0;
                }
                &-text{
                    color: #fff;
                    font-weight: 700;
                    font-size: 1.4rem;
                    line-height: 1.5;
                    transition: 0.3s ease-in-out;
                    position: relative;
                    z-index: 10;
                }
                .curved {
                    display: block;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    overflow: hidden;
                    z-index: 1;
                    transform: perspective(0) rotateX(0deg);
                    &::before{
                        content: '';
                        position: absolute;
                        width: 250%;
                        height: 250%;
                        border-radius: 50%;
                    }
                }
                .curved-left {
                    left: -18px;
                    bottom: 1px;
                    &::before{
                        right: 0;
                        bottom: 0;
                        box-shadow: 30px 30px 0 0 #26948a;
                    }
                }
                .curved-right {
                    right: -18px;
                    bottom: 1px;
                    &::before{
                        bottom: 0;
                        left: 0;
                        box-shadow: -30px 30px 0 0 #26948a;
                    }
                }
            }
            .btn-esp.m-right {
                margin-left: auto;
                margin-right: 25px;
            }
        }
    }
}