.priceList{
    margin-bottom: 10rem;
    h4{
        font-size: 3.2rem;
        line-height: 1.2;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
        margin-bottom: 3rem;
    }
    &-list{
        &-item{
            img{
                border-radius: 1.5rem;
                box-shadow: 5px 5px 40px #00000029;
            }
        }
    }
}
.design{
    .construction-fix{
        .form-item-btw-son{
            padding: 0 !important;
            p{
                left: 1.5rem !important;
            }
        }
    }
    
    .cons-reason .reason{
        height: 150rem;
    }
    .cons-reason .reason-right{
        width: 100%;
    }
    .reason-item-slide{
        width: 130rem;
        height: 72rem;
        position: absolute;
        right: -74rem;
        top: 3rem;
        .reason-list{
            margin-right: 3rem;
        }
    }
    .reason-item{
        width: 100% !important;
    }
    .reason-list-item{
        width: calc(100%*(6/12));
        padding-top: 26rem !important;
        display: block !important;
    }
    .idea-img-3{
        display: flex;
        margin-top: 55rem;
        width: 62rem !important;
        margin-left: 46rem;
        position: relative;
        .image{
            position: absolute;
            left: -80rem;
            top: -22rem;
        }
    }
    .homeBanner{
        &-item{
            &-image{
                height: 100rem;
            }
        }
    }
    .homeBanner-smImage{
        left:  0 !important;
        top: 5rem;
        width: 25rem;
        .slick-track{
            display: flex;
            flex-wrap: wrap;
            width: 13rem !important;
            .image{
                margin-bottom: 2rem;
                img{
                    border-radius: 0;
                }
            }
        }
    }
    .manualContent-post-list-items-item-content-button-circle .circle {
        stroke: #000000;
    }
    .m-mid {
        margin: 0 auto;
    }
    .btn-esp {
        padding: 10px 40px;
        display: block;
        background-color: transparent;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        width: fit-content;
        cursor: pointer;
    }
    .dv-posi .btn-esp-line .btn-esp::before {
        background-color: rgba(38,148,138,.9);
    }
    
    .btn-esp::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #26948A;
        transform: perspective(10px) rotateX(1deg) translateY(-1px);
        border-radius: 26px 26px 0 0;
    }
    .btn-esp-text {
        color: #fff;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.5;
        transition: 0.3s ease-in-out;
        position: relative;
        z-index: 10;
    }
    .btn-esp .curved-left {
        left: -18px;
        bottom: 1px;
    }
    .btn-esp .curved {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        overflow: hidden;
        z-index: 1;
        transform: perspective(0) rotateX(0deg);
    }
    .dv-posi .btn-esp-line .curved-left::before {
        box-shadow: 30px 30px 0 0 #26948ae6;
    }
    .btn-esp .curved-left::before {
        right: 0;
        bottom: 0;
        box-shadow: 30px 30px 0 0 #26948a;
    }
    
    .btn-esp .curved::before {
        content: '';
        position: absolute;
        width: 250%;
        height: 250%;
        border-radius: 50%;
    }
    .btn-esp .curved-right {
        right: -18px;
        bottom: 1px;
    }
    .dv-posi .btn-esp-line .curved-right::before {
        box-shadow: -30px 30px 0 0 #26948ae6;
    }
    
    .btn-esp .curved-right::before {
        bottom: 0;
        left: 0;
        box-shadow: -30px 30px 0 0 #26948a;
    }
}

.dv-wrap {
    height: 100%;
    max-height: 100%;
    background-color: rgba(38,148,138,.9);
    overflow-y: auto;
}
.dv-con {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    padding: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dnor {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: stretch;
    align-items: stretch;
    -webkit-align-items: stretch;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.dv-left {
    width: calc(100%*(7/12));
}
.dnor-item {
    padding: 0 15px;
}
.t-heading.m-small {
    margin-bottom: 6px;
}
.t-heading.white {
    color: #fff;
}
.t-heading {
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
}
.dv-left-content {
    margin-right: 160px;
}
.dv-text:not(:last-child) {
    margin-bottom: 12px;
}

.dv-text {
    display: flex;
    align-items: center;
    color: #fff;
}
.dv-posi {
    height: 30%;
}

.dv-posi {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.dv-text span {
    min-width: 130px;
}

.fw-7 {
    font-weight: 700;
}
p{
    font-size: 16px;
}
.dv-right {
    width: calc(100%*(5/12));
}

.dnor-item {
    padding: 0 15px;
}
.dv-right-content {
    margin-right: 100px;
}
.dv-right-title {
    text-transform: uppercase;
    color: rgba(255,255,255,.5);
    margin-bottom: 8px;
    font-size: 16px;
}
.dv-right-list {
    margin-bottom: 40px;
}
.cons-service .dnor-item.dv-right-item {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.dv-right-item {
    width: calc(100%/2);
}
.dv-text.link {
    transition: 0.3s ease-in-out;
}

.dv-text:not(:last-child) {
    margin-bottom: 12px;
}
.dv-text .icon {
    width: 16px;
    height: 16px;
    border-radius: 100rem;
    margin-right: 14px;
    transition: 0.6s ease-in-out;
}
.dv-text.link:hover {
    color: #2E3449;
}
.dv-text.link:hover .icon {
    transform: rotate(360deg);
}
.fw-7 {
    font-weight: 700;
    font-size: 16px;
}
.dv-posi .btn-esp-line {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    margin-bottom: -1px;
}
.dv-posi .btn-esp-line::before {
    background-color: rgba(38,148,138,.9);
}
section.duan-write {
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.duan-write{
    .write-head {
        margin-bottom: 30px;
        margin-top: 5rem;
    }
    .mona-content {
        color: #000;
    }
    
    .write-menu {
        padding: 24px;
        background-color: rgba(38,148,138,.4);
        margin-bottom: 24px;
    }
    .mona-content p {
        margin: 20px 0!important;
    }
    .mona-content li {
        list-style: disc;
        margin-left: 24px;
        font-size: 16px;
    }
    .mona-content a {
        color: #bf2922;
        font-size: 16px;
    }
    .mona-content strong {
        font-weight: 700;
        font-size: 16px;
    }
    .mona-content h2 {
        margin: 10px 0;
        strong{
            font-size: 30px;
        }
    }
    .mona-content h3 {
        font-size: 24px;
        margin: 10px 0;
    }
    .mona-content em {
        font-style: italic;
    }
}
.content-home-fix{
    margin-top: -9.6rem;
}