.container{
    max-width: 1200px;
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: 0.3s ease-in-out;
    z-index: 50;
    &-main{
        height: 100%;
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 0.5rem;
            background-color: #2E3449;
        }
        .header-wrap{
            display: flex;
            align-items: center;
            height: 9.6rem;
            a {
                text-decoration: none;
            }
            &-logo {
                display: block;
                cursor: pointer;
                width: 20.5rem;
                height: 6rem;
                transition: 0.3s ease-in-out;
            }
            &-search{
                flex: 1;
                margin-left: 6.4rem;
                position: relative;
                &-input {
                    font-family: 'SF Pro Display',sans-serif;
                    height: 4.8rem;
                    border-radius: 10rem;
                    background-color: #F8F8F8;
                    border: none;
                    outline: none;
                    width: 100%;
                    padding: 0 3rem 0 5.5rem;
                    color: #000;
                    font-size: 1.6rem;
                    line-height: 1.5;
                    border: 1px solid transparent;
                    transition: 0.3s ease;
                    &:focus{
                        border: 1px solid #26948A;
                    }
                }
                button{
                    border: none;
                    &-icon{
                    background: none;
                    padding: 0;
                    }
                }
                &-icon{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
            &-sample{
                display: flex;
                align-items: center;
                margin-left: 5rem;
                padding: 0 5rem;
                height: 100%;
                background-color: #2E3449;
                position: relative;
                border-radius: 0 0 2rem 2rem;
                &::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    width: 0;
                    height: 0;
                    border-left: 20px solid transparent;
                    border-top: 81px solid #2E3449;
                    left: -18px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 5px;
                    width: 0;
                    height: 0;
                    border-right: 20px solid transparent;
                    border-top: 81px solid #2E3449;
                    right: -18px;
                }
                &-item{
                    margin-right: 4rem;
                    &:nth-child(3){
                        margin-right: 0;
                    }
                }
                &-link{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #fff;
                }
                &-icon{
                    width: 4rem;
                    height: 4rem;
                    margin-bottom: 0.8rem;
                    .icon{
                        object-fit: contain;
                    }
                }
                &-text{
                    text-align: center;
                    font-size: 1.2rem;
                    line-height: 1.1;
                    text-transform: uppercase;
                    font-weight: 700;
                    transition: 0.3s ease-in-out;
                    width: 9rem;
                }
                .curved {
                    position: absolute;
                    width: 3rem;
                    height: 2rem;
                    overflow: hidden;
                    z-index: 1;
                }
                .curved-left {
                    left: -4rem;
                    top: 0;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        top: 0;
                        right: 0;
                        box-shadow: 3rem -3rem 0 0 #2e3449;
                    }
                }
                .curved-right {
                    right: -4rem;
                    top: 0;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        top: 0;
                        left: 0;
                        box-shadow: -3rem -3rem 0 0 #2e3449;
                    }
                }
            }
            .mobile-search {
                display: none;
            }
            .mobile-search-icon {
                display: none;
            }
            .burger{
                display: none;
            }
        }
    }
    
}
.header-nav{
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.2rem 0 #99999959;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    ul,li {
        list-style: none;
        -webkit-padding-start: 0;
        flex: 1;
        text-align: center;
        position: relative;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #26948A;
        font-size: 1.4rem;
        line-height: 1.2;
        color: #000;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        display: block;
    }
    &-list{
        display: flex;
        &-menu-item{
            padding: 1rem;
            display: inline;
        }
        i{
            position: absolute;       
            right: 1rem;
            top: 0.2rem;
            font-size: 1.5rem;
            transition: 0.3s ease-in-out;
        }
        &-dropdown-son{
            i{
                top: 1rem;
            }
        }
    }
    &-item{
        &-dropdown-submenu{
        display: none;
        }
        &-dropdown-submenu-son{
            display: none;
        }
    }
    &-list-menu-item:hover .header-nav-item-dropdown-submenu
    ,&-list-dropdown-son:hover .header-nav-item-dropdown-submenu-son{
        display: block;
    }
    .dropdown{
        top: 95%;
        position: absolute;
        background: #fff;
        border-radius: 10px;
        width: 100%;
        .header-nav-list-menu-item{
            flex: 1;
            text-align: center;
            position: relative;
            z-index: 10;
            a{
                padding: 10px 14px;
                display: block;
                border-bottom: 1px solid rgba(0,0,0,.2);
                color: #26948A;
                font-weight: 500;
                background-color: #fff;
                &:hover{
                    background-color: #26948A;
                    transition: 0.3s ease-in-out;
                    color: #fff;
                }
            }
        }
    }
    .dropdown-list{
        margin: -3.5rem 0 0 19.7rem;
        width: 20rem;
    }
}
.fixNav{
    position: fixed;
    top: 0;
    width: 100%;
    transition: 10s linear;
    z-index: 100;
}