.manualContent{
    display: flex;
    &-post{
        width: calc(100%*(8/12));
        margin: 0 1.6rem 0 1.6rem;
        &-list{
            h4{
                font-size: 2rem;
                line-height: 1.5;
                font-weight: 700;
                margin-bottom: 2.4rem;
            }
            &-items{
                border-bottom: 1px solid #e0e0e0;
                margin-bottom: 12rem;
                padding-bottom: 1rem;
                &-item{
                    display: flex !important;
                    height: 20rem;
                    margin-bottom: 3rem;
                    &-img{
                        overflow: hidden;
                        width: 20rem;
                    }
                    &-content{
                        padding-left: 4rem;
                        flex: 1;
                        h4{
                            line-height: 1.4;
                            font-weight: 700;
                            cursor: pointer;
                            color: #2E3449;
                            margin-bottom: 0.8rem;
                            transition: 0.3s ease-in-out;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            font-size: 2.4rem;
                        }
                        p{
                            color: rgba(46,52,73,.6);
                            margin-bottom: 1.6rem;
                            font-size: 1.6rem;
                        }
                        &-button{
                            display: flex;
                            align-items: flex-end;
                            width: fit-content;
                            &:hover &-circle{
                                transform: rotate(540deg);
                            }
                            &:hover &-text{
                                color: #26948A;
                            }
                            &-circle{
                                transform: rotate(180deg);
                                width: 3.2rem;
                                height: 3.2rem;
                                transition: 0.6s linear;
                                .circle-bg{
                                    fill: none;
                                    stroke: #e0e0e0;
                                    stroke-width: 2;
                                    overflow: hidden;
                                }
                                .circle{
                                    stroke: #26948A;
                                    transition: stroke-dasharray 1.2s ease-in-out;
                                    fill: none;
                                    stroke-width: 2;
                                }
                            }
                            &-text{
                                font-weight: 1.4rem;
                                line-height: 1.2;
                                color: #2E3449 !important;
                                font-weight: 700;
                                margin-left: -1rem;
                                margin-bottom: 0 !important;
                                z-index: 1;
                                transition: 0.3s ease;
                            }
                        }
                    }
                }
            }
            .manualContent-post-item{
                width: 20em;
                margin: 0 auto;
                &__button{
                    width: 40px;
                    height: 40px;
                    border-radius: 100rem;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                    background-color: #e3e3e3;
                    transition: 0.3s ease-in-out;
                    border: none;
                    font-weight: 700;
                    font-size: 1.6rem;
                }
            }
        }
    }
    &-sidebarRight{
        width: calc(100%*(4/12));
    }
    .slick-dots{
        bottom: -8rem;
        display: inline-flex;
        position: absolute;
        margin-left: 45%;
        li{
           background-color: #cccccc; 
           border-radius: 10rem;
           width: 4rem;
           height: 4rem;
           margin-right: 1rem;
           button{
                margin: 1rem auto;
                color: rgb(0, 0, 0);
                font-size: 1.6rem;
                &::before{
                    display: none;
                }
                width: 100%;
                border: none;
                background: none;
           }
        }
        .slick-active{
            background-color: #26948a; 
            button{
                color: #fff;
                border: none;
                background: none;
            }
        }
    }
   
    .slick-next {
        background-color: #cccccc; 
        border-radius: 10rem;
        width: 4rem;
        height: 4rem;
        z-index: 1;
        border: none;
        position: absolute;
        bottom: -8rem;
        right: 24.5rem;
        &:hover{
            background-color: #26948a;
            color: #fff;
        }
        &:focus{
            background-color: #cccccc; 
            &:hover{
                background-color: #26948a;
            }
        }
        &::before{
            color: #fff0;
            position: absolute;
            top: 1rem;
            left: 1.5rem;
            background-image: url('../images/chevron-right-solid.svg');
            background-repeat: no-repeat;
            filter: brightness(0) invert(0);
        } 
    }
    .slick-prev{
        display: none !important;
    }
    &-sidebarRight{
        padding: 15px 15px 0 15px;
        margin-bottom: 95px;
        text-align: center;
        h4{
            flex-direction: column;
            align-items: center;
            margin-bottom: 16px;
            font-size: 3.2rem;
            line-height: 2.2;
            font-weight: 700;
            p{
                font-family: 'SVN-Taken by Vultures',sans-serif;
                font-size: 7.2rem;
                line-height: 1.2;
                color: #26948A;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }
        }
        p{
            font-size: 1.6rem;
            margin-bottom: 9.5rem;
        }
        .formSignup{
            background-image: url('../images/sidebar-form-br.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            .form-item-btw-son{
                width: 100%;
                padding: 0 1.5rem;
                position: relative;
                input{
                    height: 48px;
                    width: 100%;
                    font-family: 'SF Pro Display',sans-serif;
                    padding: 0 15px;
                    border: none;
                    outline: none;
                    font-size: 1.6rem;
                    line-height: 1;
                    margin-bottom: 1rem;
                    border-radius: 1rem;
                }
                .form-item-3 {
                    padding-left: 6rem;
                }
                p{
                    position: absolute;
                    top: 1.5rem;
                    left: 3rem;
                    font-size: 1.6rem;
                }
            }
            .form-item-5{
                position: relative;
                width: 100%;
                border: none;
                height: 6rem;
                margin-bottom: 4rem;
                z-index: 2;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 90%;
                    height: 3px;
                    background: #26948A;
                    margin-left: 1.6rem;
                }
                img{
                    margin-right: 1rem;
                    width: 1.6rem;
                    height: 1.6rem;
                    position: relative;
                    z-index: 10;
                    top: 2.8rem;
                    left: -1rem;
                }
                button{
                    height: 1px;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 2rem;
                        left: 10rem;
                        right: 0;
                        bottom: 0;
                        background-color: #26948A;
                        transform: perspective(10px) rotateX(1deg) translateY(-1px);
                        border-radius: 2.6rem 2.6rem 0 0;
                        width: 14rem;
                        height: 4rem;
                    }
                }
                p{
                    color: #fff;
                    font-size: 1.6rem;
                    line-height: 1.5;
                    transition: 0.3s ease-in-out;
                    position: relative;
                    z-index: 10;
                    top: 1rem;
                    left: 2rem;
                }
                .curved{
                    display: block;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    overflow: hidden;
                    z-index: 1;
                    transform: perspective(0) rotateX(0deg);
                    &::before{
                        content: '';
                        position: absolute;
                        width: 250%;
                        height: 250%;
                        border-radius: 50%;
                    }
                }
                .curved-left{
                    left: 8rem;
                    bottom: 1px;
                    &::before{
                        right: 0;
                        bottom: 0;
                        box-shadow: 30px 30px 0 0 #26948a;
                    }
                }
                .curved-right {
                    right: 7.5rem;
                    bottom: 1px;
                    &::before{
                        bottom: 0;
                        left: 0;
                        box-shadow: -30px 30px 0 0 #26948a;
                    }
                }
               
            }
        }  
        .relatedPosts{
            .list{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 4rem;
                .img{
                    width: 10rem;
                    height: 10rem;
                }
                .right{
                    width: 23rem;
                    text-align: left;
                    a{
                        display: block;
                        font-size: 1.6rem;
                        font-weight: 700;
                        margin-left: 1rem;
                    }
                    p{
                        margin-left: 1rem;
                        color: rgba(46,52,73,.6);
                        margin-bottom: 1.6rem;
                    }
                }
            }
            h4{
                font-size: 2.4rem;
                line-height: 1.2;
                font-weight: 700;
                padding-left: 100px;
                color: rgba(46,52,73,.4);
                position: relative;
                margin-bottom: 40px;
                &::before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    height: 1px;
                    width: 70px;
                    background-color: rgba(0,0,0,.4);
                }
            }
        } 
    }
}

