@font-face {
  font-family: Inter;
  src: url('../font/Inter.ttf');
}

@font-face {
  font-family: Inter-Regular;
  src: url('../font/Inter-Regular.otf');
}

@font-face {
  font-family: Inter-SemiBold;
  src: url('../font/Inter-SemiBold.otf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('../font/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('../font/Roboto-Bold.ttf');
}
@font-face {
  font-family: SVN-Taken by Vultures;
  src: url('../font/SVN-Taken-by-Vultures.otf');
}
@font-face {
  font-family: SF Pro Display-Regular;
  src: url('../font/SFProDisplay-Regular.ttf');
}
@font-face {
  font-family: Abril Fatface;
  src: url('../font/AbrilFatface-Regular.ttf');
}