@media (max-width:1366px) {
    .frontpage .distinctive-content{
        width: calc(100%*(6/12));
    }
    .frontpage .construction-item-fifth .evaluate-slider-item__image {
        margin-left: 2rem;
    }
    .frontpage .construction-item-fifth .evaluate-slider-item__content {
        left: 2rem;
    }
    .frontpage .construction-item-fifth .evaluate .arrow-left {
        left: -4rem;
    }
    .frontpage .construction-item-fifth .evaluate .arrow-right{
        right: -5rem;
    }
    .frontpage .construction-item-sixth .new-evaluate-slide-item .image{
        width: 30.3rem;
    }
    .tab-slide{
        .tabcontent .nav-list{
            left: -6rem;
        }
    }
    .design .idea-img-3 .image {
        left: -73rem;
    }
    .design .idea-img-3 {
        margin-top: 54rem;
        width: 51rem !important;
        margin-left: 64rem;
    }
    .construction {
        margin-bottom: 10rem;
        margin-top: 10rem;
    }
}
@media (max-width:1024px) {
    header{
        display: none;
    }
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }
    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 3.2rem;
        width: 3.2rem;
        top: 2.2rem;
        right: 1.5rem;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    .navbar-container .hamburger-lines{
        display: block !important;
        height: 2.8rem;
        width: 3.5rem;
        position: absolute;
        top: 2rem;
        right: 1.3rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line{
        display: block;
        height: 0.4rem;
        width: 100%;
        border-radius: 1rem;
        background: #26948A;
        margin-top: 7px;
    }   
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar .menu-items{
        padding-top: 3rem;
        background: #fff;
        height: 100vh;
        max-width: 100%;
        display: block;
        width: 37rem;
        transform: translate(-150%);
        flex-direction: column;
        margin-left: -2rem;
        padding-left: 3rem;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        overflow: scroll;
        background-color: #fff;
        z-index: 99;
        position: absolute;
        top: 7.5rem;
    }
    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(42deg);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-42deg);
    }
    .navbar input[type="checkbox"],
    .navbar .hamburger-lines{
        display: none;
    }
    .checkbox-menu{
        display: block !important;
    }
    .header-nav a {
        text-decoration: none;
        color: #26948A !important;
        font-size: 1.4rem;
        line-height: 1.2;
        color: #000;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        display: block;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
        width: 32rem;
        text-align: left;
    }
    .header-nav-list i{
        right: 3rem;
    }
    .header-nav{
        .logo{
            display: block !important; 
            width: 15rem;
            margin-left: 1.5rem;
        }
    }
    .header-nav {
        padding: 0rem;
        height: 8rem;
    }
    .address-headnav, .social-headnav{
        display: block !important;
    }
    .address-headnav{
        h4{
            font-size: 1.8rem;
            line-height: 1.5;
            color: #26948A;
            font-weight: 700;
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: left;
        }
        p{
            text-align: left;
            font-size: 14px;
            width: 98%;
            margin-bottom: 2rem;
        }
    }
    .social-headnav{
        display: flex !important;
        margin-top: 21rem;
        margin-left: -2rem;
       
        .face{
            color: #fff;
            background-color: #0c88ef;
            position: relative;
            i{
                right: 7.5rem;
                top: 1rem;
            }
        }
        .youtb{
            color: #fff;
            background-color: #EA412C;
            position: relative;
            i{
                right: 7.5rem;
                top: 1rem;
            }
        }

    }
    .social-headnav-item {
        width: 50%;
        height: 4rem;
        font-size: 1.5rem;
        padding-top: 0.5rem;
    }

    .construction-item-top {
        margin: 0 8px !important;
    }
    .evaluate.container {
        width: 88%;
    }
    .frontpage .construction-item-sixth {
        width: calc(98vw - (100vw - 1024px) / 2);   
    }
    .frontpage .construction-item-sixth .new-evaluate-slide-item .image {
        width: 24.3rem;
        height: 26.3rem;
    }
    .frontpage .construction-item-sixth {
        margin-left: 15rem;
        // margin-bottom: -35rem;
    }
    // .frontpage .construction-item-fifth {
    //     margin-top: 18rem;
    //     margin-bottom: -26rem;
    // }
    .frontpage .construction-item-fourth .site-images__image {
        margin: 0 -8px 0 6px;
    }
    .contactForm .contact-br-img {
        padding-top: 81rem;
        position: relative;
        width: 85rem;
        height: 80rem;
    }
    .manualContent {
        display: flex;
        margin-top: 10rem;
    }
    .manualContent .slick-next{
        right: 18rem;
    }
    footer .col-md-3{
        width: 25%;
    }
    .slick-slider{
        // height: 75rem;
    }
    .homeBanner-item-image{
        height: 75rem;
    }
    .homeBanner-smImage {
        height: 11rem ;
    }
    .homeBanner-item-fixW-resolution h2{
        font-size: 70px;
    }
    .homeBanner-item-fixW-resolution .resolution-item-son h4{
        font-size: 20px;
    }
    .homeBanner-item-fixW-resolution .resolution-item span{
        font-size: 5rem;
    }
    .homeBanner-item-fixW {
        width: 84%;
        left: -45px;
    }
    .homeBanner-item-fixW-btw {
        top: -6rem;
        right: -7rem;
    }
    .banner-content-wrap {
        padding: 20px;
        min-height: 100px;
    }
    .banner-content-text {
        font-size: 2.7rem;
    }
    .cons-reason .reason-left .reason-main h3{
        font-size: 2.7rem;
    }
    .tab-slide .head h2 {
        font-size: 2.2rem;
        line-height: 1.2;
        font-weight: 700;
        width: 25rem;
    }
    .tab-slide .head-right {
        margin-left: 10rem;
    }
    .tab-slide .head-right .nav-list button{
        margin-right: 0.5rem;
    }
    .ig-proj .manualContent-post-list-items-item-content-button {
        margin: 2rem auto;
        width: 13rem;
    }
    .cons-process .process-slider .swiper{
        margin: -20px;
    }
    .cons-process .process-slider .swiper-slide {
        // width: 108px !important;
    }
    .cons-process .process-slider .swiper-slide .process-item .process-box {
        width: 170px !important;
        height: 170px !important;
    }
    .construction-list .slick-dots {
        bottom: -5rem;
    }
    .construction-list .slick-next {
        right: 41.1rem;
        top: 62.2rem;
    }
    .frontpage .construction-item-sixth .new-evaluate-title h4 {
        font-size: 2.7rem;
        margin: 0rem 3rem 0 -13rem;
        line-height: 1.2;
        font-weight: 700;
    }
    .frontpage .construction-item-sixth .new-evaluate-slide {
        width: calc(100%*(10/12));
    }
    section.duan-write {
        margin-top: 12rem;
        margin-bottom: 10rem;
    }
    .manualContent-sidebarRight .relatedPosts .list .right {
        width: 17rem;
        text-align: left;
    }
    .cons-process .box-desc-procedure {
        margin-top: 8rem;
        margin-bottom: 4rem;
    }
    .construction {
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    .res-search {
        position: relative;
        height: 50px;
        display: block;
        width: 5rem;
    }
    
    .res-search .res-search-input {
        background-color: #fff;
        border: 0;
        font-size: 18px;
        padding: 15px;
        height: 50px;
        width: 50px;
        transition: width 0.3s ease;
    }
    
    .res-search-button {
        background-color: #fff;
        border: 0;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 0;
        transition: transform 0.3s ease;
        i{
            position: absolute;
            top: -7.5rem;
            left: 93rem;
        }
    }
    
    .res-search-button:focus, .res-search-input:focus{
        outline: none;
    }
    
    .res-search.active .res-search-input {
        width: 30rem;
        position: absolute;
        z-index: 1;
        border-radius: 3rem;
        border: 1px solid #cecece;
        left: 67rem;
        top: -1rem;
    }
    .res-search.active .res-search-button{
        i{
            left: 93rem;
        }
    }
}
@media (max-width:768px) {
    .res-search-button {
        i{
            left: 67.4rem;
        }
    }
    .res-search.active .res-search-input {
        left: 41.6rem;
    }
    .res-search.active .res-search-button{
        i{
            left: 67.4rem;
        }
    }
    .frontpage .distinctive-content-item-left h4 {

        font-size: 40px;
        span{
            font-size: 22px;
            margin-left: 7rem;
            margin-top: -2rem;
        }
    }
    .frontpage .distinctive-content-item-left p {
        font-size: 17px;
    }
    .frontpage .distinctive-content-item-right {
        padding: 9rem 1.5rem 0;
    }
    .frontpage .distinctive {
        margin-bottom: 4rem;
    }
    .home-project .construction-item-top-right .construction-list__item--image{
        width: 100%;
        height: 52rem;
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .home-project .construction-list__item--image {
        margin: 0px 2rem 0 0rem;
    }
    .home-project {
        margin-top: 0 !important;
    }
    .orther-contact-wrap{
        width: 100%;
    }
    .frontpage .manualContent-sidebarRight .formSignup .form-item-btw-son {
        width: 81% !important;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 p{
        left: 1rem;
    }
    .construction-item-third .manualContent-sidebarRight .form .form-item-5 button img {
        top: 3rem;
        left: 14rem;
    }
    .frontpage .distinctive-wrap .image {
        padding: 0 1.5rem;
        width: 100%;
        height: 45rem;
        margin-top: -1rem;
    }
    .frontpage .distinctive-content {
        width: 100%;
    }
    .frontpage .distinctive-wrap {
        background: #f5f5f5;
    }
    .home-project .construction-item-top{
        display: block;
    }
    .home-project .construction-item-top-content {
        width: 100%;
    }
    .frontpage .construction-item-sixth .new-evaluate-title {
        width: calc(100%*(4/12));
    }
    .construction {
        margin-bottom: 20rem;
        margin-top: -10rem;
    }
    .home-project .construction-item-top-right {
        width: 100%;
        margin-top: 3rem;
    }
    .construction-list__item:nth-child(1) {
        grid-column: 1/2 !important;
        grid-row: 1/2!important;
    }
    .construction-list__item:nth-child(2) {
        grid-column: 2/3!important;
        grid-row: 1/2!important;
    }
    .construction-list__item:nth-child(3) {
        grid-column: 1/2!important;
        grid-row: 2/3!important;
    }
    .construction-list__item:nth-child(4) {
        grid-column: 2/3!important;
        grid-row: 2/3!important;
    }
    .home-project .construction-item-second {
        grid-template-columns: 1fr 1fr !important;
    }
    .form-item.form-item-btw-son{
        width: 80% !important;
        margin-left: 2rem;
    }
    .construction-item-third .manualContent-sidebarRight .form-item::before{
        left: 34.8rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 {
        width: 84%;
    }
    .construction-item-third .manualContent-sidebarRight .form .form-item-5 button::before {
        left: 29rem;
        width: 15rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 img {
        width: 1.6rem;
        height: 1.6rem !important;
    }
    .construction-item-third .manualContent-sidebarRight .form .form-item-5 .curved-left {
        left: 27.1rem !important;
    }
    .frontpage .construction-item-fourth .site-images__image {
        margin: 0px -12px 0 0px;
    }
    .frontpage .construction-item-fifth {
        margin-top: 18rem;
        // margin-bottom: -32rem;
    }
    .frontpage .construction-item-sixth {
        // margin-bottom: -32rem;
    }
    .frontpage .construction-item-sixth .new-evaluate-title h4 {
        font-size: 2.2rem;
        margin: 0rem 40px 0 -55px;
        line-height: 1.2;
        font-weight: 700;
    }
    .frontpage .construction-item-sixth {
        margin-left: 7rem;
    }
    .frontpage .construction-item-sixth .new-evaluate-slide {
        width: 88%;
    }
    .frontpage .construction-item-sixth .new-evaluate-slide-item .image {
        width: 21.3rem;
        height: 21.3rem;
    }
    .frontpage .construction-item-sixth .new-evaluate-title h4 {
        width: 24rem;
    }
    .col-md-4{
        padding: 0 1rem 0;
    }
    .priceList {
        margin-bottom: -11rem;
    }
    .rough-content{
        section.duan-write {
            margin-top: 0rem;
            margin-bottom: 10rem;
        }
    }
    .cons-process .process-slider .swiper-wrapper{
        margin-left: 0rem;
    }
    footer .col-md-3 {
        width: 50%;
    }
    .cons-reason .reason .dnor {
        display: block;
        width: 100%;
        padding-top: 0 !important;
    }
    .cons-reason .reason-right .reason-list{
        display: flex;
    }
    .dnor-item.reason-left {
        width: 100%;
        margin-bottom: 4rem;
    }
    .cons-reason .reason-right {
        width: 100%;
    }
    .cons-process .process-slider .swiper-slide .process-item .process-name {
        font-size: 1.4rem;
    }
    .cons-process .process-slider .swiper-slide .process-item .process-box {
        width: 120px !important;
        height: 120px !important ;
    }
   
    .tab-slide .head-right {
        margin: 6rem -20rem 5rem;
    }
    .tab-slide{
        margin-bottom: 20rem;
    }
    .construction {
        margin-bottom: 20rem;
        margin-top: 7rem;
    }
    .contactForm .form-item-btw-son {
        width: 50% !important;
        margin-left: 0rem;
    }
    .construction-list .slick-next {
        right: 28.1rem;
        top: 58.2rem;
    }
    .construction-list__item--image {
        height: 24rem;
        width: 25rem;
        margin: 0px 2rem 0 -2rem;
    }
    .manualContent {
        display: block !important; 
    }
    .manualContent-post{
        width: 98%;

    }
    .manualContent .slick-dots {
        bottom: -8rem;
        margin-left: 35%;
    }
    .manualContent .slick-next {
        bottom: -8rem;
        right: 29rem !important;
    }
    .manualContent-sidebarRight{
        width: 100%;
    }
    .manualContent-sidebarRight .formSignup .form-item-btw-son {
        width: 95% !important;
    }
    .manualContent-sidebarRight .formSignup .form-item-5{
        width: 75rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 button::before{
        left: 31rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 .curved-left {
        left: 29rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 .curved-right {
        right: 28.2rem;
    }
    .manualContent-sidebarRight .relatedPosts .list .right {
        width: 60rem;
    }
    .manualContent-sidebarRight .relatedPosts h4 {
        margin-bottom: 4rem;
        display: block;
        text-align: left;

    }
    .manualContent-sidebarRight .relatedPosts .list .right p{
        margin-top: 1rem;
    }
    .design .reason-item-slide {
        width: 91rem;
        height: 73rem;
        position: absolute;
        right: -18rem;
        top: 24rem;
    }
    .design .idea-img-3 {
        margin-top: 58rem;
        width: 70rem !important;
        margin-left: 2rem;
    }
    .design .idea-img-3 .image {
        left: 13rem;
        top: 13rem;
    }
    .cons-as .as-item {
        width: 33%;
        margin-bottom: 30px;
    }
    .cons-process .process-slider .swiper-slide {
        width: 117px !important;
    }
    .cons-process .ss-pd {
        padding: 70px 0 0 0rem;
    }
    .construction-fix .manualContent-sidebarRight .formSignup .form-item-btw-son {
        width: 81% !important;
    }
    .construction-item-third .manualContent-sidebarRight .form .form-item-5 .curved-right {
        right: 29.1rem;
    }
    section.duan-write {
        margin-top: 12rem;
        margin-bottom: 10rem;
    }
    .dv-right-content {
        margin-right: 70px;
    }
    .ig-proj .manualContent-post-list-items-item-content-button {
        margin: 1rem auto;
        width: 13rem;
    }

}
@media (max-width:425px) {
    .res-search-button {
        i{
            left: 33.4rem;
        }
    }
    .res-search.active .res-search-input {
        left: 11.6rem;
    }
    .res-search.active .res-search-button{
        i{
            left: 33.4rem;
        }
    }
    .homeBanner-item-fixW-resolution h2 {
        font-size: 40px;
    }
    .homeBanner-item-fixW-resolution h2 p{
        font-size: 18px;
    }
    .homeBanner-item-fixW {
        width: 100%;
        left: 2rem;
    }
    .homeBanner-item-fixW-resolution .resolution-item-son h4{
        font-size: 14px;
    }
    .homeBanner-item-fixW-resolution .resolution-item-son p{
        font-size: 12px;
    }
    .homeBanner-smImage .image {
        width: 7.5rem !important;
        height: 7.5rem;
        margin-right: 1rem;
    }
    .homeBanner-smImage {
        position: absolute;
        right: -3rem;
        bottom: 9rem;
    }
    .homeBanner-item-fixW-resolution.resolution-about{
        padding: 0;
    }
    .homeBanner-item-fixW-resolution.resolution-about h2{
        font-size: 45px;
    }
    .homeBanner-item-fixW-resolution.resolution-about span{
        font-size: 40px;
        margin-left: 40px;
    }
    .homeBanner-item-fixW-resolution.resolution-about p{
        font-size: 12px;
        margin-left: 40px;
        width: 75%;
    }
    .homeBanner-item-fixW-btw {
        top: -6rem;
        right: 0rem;
    }
    .homeBanner-item-fixW-resolution {
        margin: 18rem 0 0 2rem;
    }
    .frontpage .distinctive-content {
        width: 100%;
        display: block;
    }.frontpage .distinctive-content {
        display: block;
    }
    .frontpage .distinctive-content-item-left {
        margin: 0 -35px;
        width: 100%;
    }
    .frontpage .distinctive-content-item-right {
        width: 100%;
        margin: 6rem 1.5rem 0px -4rem;
        padding: 0;
        p{
            line-height: 1.5;

        }
    }
    .construction {
        margin-bottom: 20rem;
        margin-top: 6rem;
    }
    .construction-item-third .home-we .we-head-text p {
        font-size: 40px !important;
        letter-spacing: 18px;
    }
    .manualContent-sidebarRight{
        padding: 15px 0 0 ;
        .container{
            padding: 0;
        }
    }
    .manualContent-sidebarRight .formSignup .form-item-btw-son {
        width: 90% !important;
    }
    .construction-item-third .manualContent-sidebarRight .formSignup .form-item-btw-son {
        width: 45% !important;
    }
    .construction-item-third .manualContent-sidebarRight .form-item-btw-son input {
        width: 20.5rem !important;
    }
    .construction-item-third .manualContent-sidebarRight .form-item::before {
        left: 19.8rem;
    }
    .frontpage .construction-item-fourth .site-images__title {
        width: 40rem;
    }
    .frontpage .construction-item-fourth .site-images__title h4{
        font-size: 22px;
        span{
            font-size: 40px;
        }
    }
    .frontpage .construction-item-fifth .evaluate .arrow-left {
        left: -2rem;
    }
    .frontpage .construction-item-fifth .evaluate .arrow-right {
        right: -2rem;
    }
    .frontpage .construction-item-fifth .evaluate-slider-item__image {
        margin-left: 1.5rem;
    }
    .frontpage .construction-item-fifth .evaluate-slider-item__content {
        left: 1.5rem;
    }
    .frontpage .construction-item-sixth .new-evaluate {
        display: block;
    }
    .frontpage .construction-item-sixth .new-evaluate-slide-item .image {
        width: 28.3rem;
        height: 28.3rem;
    }
    .frontpage .construction-item-sixth .new-evaluate-slide {
        width: calc(100%*(17/12)) !important;
    }
    .frontpage .construction-item-sixth .arrow-left {
        top: 5rem;
    }
    .frontpage .construction-item-sixth .arrow-right {
        top: 10rem;
    }
    .frontpage .construction-item-fifth {
        margin-top: 6rem;
        margin-bottom: 8rem;
    }
    .frontpage .construction-item-sixth {
        // margin: 10rem 0 -35rem 2rem;
    }
    .frontpage .construction-item-sixth .new-evaluate-title h4 {
        width: 24rem;
        margin: 0rem 40px 3rem 0px
    }
    .footer-second {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin-top: 7rem;
        padding-top: 4rem;
    }
    footer .row{
        display: block;
    }
    footer .col-md-3 {
        width: 100%;
        text-align: center;
    }
    .footer-about-image {
        margin: 24px auto;
    }
    .cons-process .process-slider .swiper-slide {
        width: 175px!important;
    }
    .tab-slide .head-right {
        margin: 6rem -24rem 3rem;
    }
    .tab-slide .head-right .nav-list {
        display: block;
    }
    .tab-slide .head-right .nav-list button {
        margin-bottom: 1rem;
    }
    .tab-slide .tabcontent .nav-list {
        left: -18rem;
    }
    section.ig-proj {
        margin-top: -14rem;
    }
    .contactForm .form{
        width: 100%;
    }
    .footer-companyLocation, .footer-tradeLocation {
        width: 27rem;
        height: 22rem;
        margin-top: 8rem;
    }
    .cons-reason .reason-right .reason-list{
        display: block;
    }
    .cons-reason .reason-right .reason-item{
        width: 100%;
    }
    .cons-reason .reason-right .reason-icon {
        width: 3.6rem;
        height: 3.6rem;
    }
    .banner-content-text {
        font-size: 1.7rem;
    }
    .cons-reason .reason-left .reason-main h3 {
        font-size: 1.7rem;
    }
    .cons-reason .reason-right .reason-content .reason-name{
        font-size: 2rem;
    }
    .cons-reason .reason-right .reason-content .reason-des{
        font-size: 1.8rem;
    }
    .cons-as .as-item {
        width: 48%;
        margin-bottom: 30px;
    }
    .manualContent-post-list-items-item-img {
        width: 12rem;
        height: 12rem;
    }
    .manualContent-post-list-items-item-content h4{
        font-size: 17px;
    }
    .manualContent-post-list-items-item-content p{
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .manualContent-post {
        width: 96%;
    }
    .manualContent .slick-dots {
        bottom: -7rem;
        margin-left: 28%;
    }
    .manualContent .slick-next {
        right: 9rem !important;
        bottom: -7rem;
    }
    .design .reason-item-slide {
        width: 65rem;
        height: 70rem;
        position: absolute;
        right: -25rem;
        top: 38rem;
    }
    section.cons-process {
        // margin-bottom: 13rem;
    }
    .priceList h4{
        font-size: 22px;
    }
    .cons-reason .reason .dnor{
        width: 100%;
    }
    .design .reason-list-item {
        padding-top: 0rem !important;
    }
    .design .idea-img-3 {
        margin-top: 40rem;
        width: 43rem !important;
        margin-left: 0rem;
    }
    .design .idea-img-3 .image {
        left: 2rem;
        top: 23rem;
    }
    .priceList-list-item{
        margin-bottom: 2rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 {
        width: 75rem;
        margin: 0 0 0 -17rem;
    }
    .construction-item-third .manualContent-sidebarRight .form .form-item-5 .curved-right {
        right: 29.1rem;
    }
    .construction-item-third .manualContent-sidebarRight .form .form-item-5 button img {
        top: 3rem;
        left: 14rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 p{
        left: 1rem;
    }
    section.duan-write {
        margin-top: 0rem;
        margin-bottom: 10rem;
    }
    .duan-write h2{
        font-size: 22px;
    }
    .t-heading.m-small{
        font-size: 18px;
    }
    .fw-7{
        font-size: 14px;
    }
    .dv-text {
        width: 22rem;
    }
    .dv-right-content {
        margin-right: 100px;
        width: 15rem;
    }
    .mona-content h2{
        font-size: 22px !important;
    }
    .duan-write .mona-content em {
        font-style: italic;
        line-height: 1.3;
    }
    .construction-item-top-right{

        .construction-list__item--image {
            margin: 0px 0rem 0 0rem;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                object-fit: cover;
            }
        }
    }
    .manualContent-sidebarRight .relatedPosts .list .right {
        width: 30rem;
    }
    .addressTrade {
        margin-bottom: 3rem;
    }
    .home-project{
        margin-top: -10rem;
        margin-bottom: 0;
    }
    .frontpage .distinctive-content-item-left h4{
        font-size: 40px;
    }
    .frontpage .distinctive-content-item-left h4 span{
        font-size: 22px;
        margin-left: 6rem;
        margin-top: -2.5rem;
    }
    .home-project .construction-item-top-content h4{
        font-size: 22px;
    }
    .home-project .construction-item-top-content h4{
        span{
            font-size: 40px;
        }
    }
    .construction-list__item--image{
        margin: 0  !important;
        height: 18rem;
        width: 21rem;
    }
    .ig-proj .manualContent-post-list-items-item-content-button {
        margin: 1rem auto;
        width: 13rem;
    }
    .frontpage .construction-item-fifth .evaluate-slider-item__content--item .dg-user-name{
        font-size: 16px;
        text-align: left;
    }
    .frontpage .construction-item-fifth .evaluate-slider-item__content--item .dg-user .dg-star {
        width: 31%;
    }
    .frontpage .construction-item-fifth .evaluate-slider-item__content {
        padding: 10px 12px;
    }
    .banner .banner-img {
        width: 100%;
        height: calc(100vw*(1800/1728));
        position: relative;
    }
    .rough-content{
        .banner-content-text {
            font-size: 2.2rem;
        }
    }
    .tab-slide {
        margin-top: 2rem;
    }
    .banner-content-wrap h2{
        font-size: 2.2rem;
    }
    .text-slider {
        padding: 20px 0 !important;
    }
    .advise-des {
        color: rgba(46, 52, 73, 0.6);
        margin-bottom: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .manualContent-sidebarRight .formSignup {
        margin-bottom: 4rem;
    }
    .detail-banner {
        height: 34.8rem !important;
        margin-top: 2rem !important;
    }
    .contact-content {
        margin-bottom: 2rem;
        margin-top: 3rem;
        .social{
            margin-bottom: 2rem;
        }
    }
    .construction-list .slick-dots {
        bottom: -5rem;
        right: 3rem;
    }
    .construction-list .slick-next {
        right: 14rem;
        top: 46.2rem;
    }
    .frontpage .construction-item-fourth .site-images__image{
        display: flex;
    }
    .frontpage .construction-item-fourth .site-images__image--son {
        margin: 0 1.5rem 1.5rem 5px;
        width: 45%;
        height: 25rem;
    }
    .frontpage .construction-item-fifth .evaluate-item h4{
        font-size: 2.2rem;
    }
    .frontpage .construction-item-fifth .evaluate-item h4 img {
        height: 2.8rem !important;
        width: 3.2rem;
        margin-right: 1rem;
    }
    .cons-process .box-desc-procedure {
        margin-bottom: 3rem;
    }
    .cons-process .process-slider .swiper {
        height: 26rem;
    }
    .frontpage .construction-item-sixth {
        margin-left: 2rem;
    }
}
@media (max-width:375px) {
    .res-search-button {
        i{
            left: 28.4rem;
        }
    }
    .res-search.active .res-search-input {
        left: 6.6rem;
    }
    .res-search.active .res-search-button{
        i{
            left: 28.4rem;
        }
    }
    .construction-item-third .home-we .we-head-text p {
        font-size: 35px !important;
        letter-spacing: 18px;
    }
    .construction-item-third .manualContent-sidebarRight .form-item-btw-son input {
        width: 18.3rem !important;
    }
    .frontpage .construction-item-fourth .site-images__image--son {
        width: 44%;
    }
    .frontpage .construction-item-fifth .evaluate-slider-item__content--item .dg-user .dg-star {
        width: 38%;
    }
    .frontpage .construction-item-sixth .new-evaluate-slide-item .image {
        width: 25.3rem;
        height: 25.3rem;
    }
    .frontpage .construction-item-sixth {
        margin-left: 2rem;
    }
    .frontpage .construction-item-sixth .new-evaluate-title h4 {
        margin: 0rem 40px 20px 0px;
    }
    .cons-process .process-slider .swiper-slide {
        width: 140px !important;
    }
    .cons-process .process-slider .swiper {
        margin: -16px;
    }
    section.cons-process {
        margin-bottom: -20rem;
    }
    .construction-list__item--image {
        margin: 0 !important;
        height: 15rem;
        width: 18rem;
    }
    .ig-proj .manualContent-post-list-items-item-content-button {
        margin: 1rem auto;
        width: 13rem;
    }
    .design .reason-item-slide {
        width: 60rem;
        height: 70rem;
        position: absolute;
        right: -25rem;
        top: 33rem;
    }
    .cons-reason .reason-right .reason-content .reason-name {
        font-size: 2rem;
    }
    .cons-reason .reason-right .reason-content .reason-des {
        font-size: 1.7rem;
    }
    .design .reason-item {
        width: 38rem !important;
    }
    .cons-process .box-desc-procedure {
        margin-bottom: 23rem;
        margin-top: -18rem;
    }
    .contact-content {
        margin-top: 3rem !important;
    }
    .cons-process .process-slider {
        margin-bottom: 20rem;
    }
    .construction-item-third .manualContent-sidebarRight .form .form-item-5 button::before {
        left: 27rem;
    }
    .construction-item-third .manualContent-sidebarRight .form .form-item-5 .curved-left {
        left: 25.1rem !important;
    }
    .construction-item-third .manualContent-sidebarRight .form .form-item-5 .curved-right {
        right: 31.1rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 p {
        left: -3rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 img {
        left: -6rem;
    }
    .construction-item-third .manualContent-sidebarRight .form .form-item-5 button img {
        top: 3rem;
        left: 12rem;
    }
    .manualContent .slick-dots {
        bottom: -7rem;
        margin-left: 17%;
    }
    .manualContent-sidebarRight .relatedPosts .list .right {
        width: 25rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 button::before {
        left: 26rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 .curved-right {
        right: 33.2rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 .curved-left {
        left: 24rem;
    }
    .manualContent-sidebarRight .formSignup .form-item-5 {
        width: 75rem;
        margin: 0 0 0 -15rem;
    }
}
