@font-face {
  font-family: Inter;
  src: url("../font/Inter.ttf");
}

@font-face {
  font-family: Inter-Regular;
  src: url("../font/Inter-Regular.otf");
}

@font-face {
  font-family: Inter-SemiBold;
  src: url("../font/Inter-SemiBold.otf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../font/Roboto-Bold.ttf");
}

@font-face {
  font-family: SVN-Taken by Vultures;
  src: url("../font/SVN-Taken-by-Vultures.otf");
}

@font-face {
  font-family: SF Pro Display-Regular;
  src: url("../font/SFProDisplay-Regular.ttf");
}

.container {
  max-width: 1200px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 50;
}

.header-main {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.header-main::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 0.5rem;
  background-color: #2E3449;
}

.header-main .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9.6rem;
}

.header-main .header-wrap a {
  text-decoration: none;
}

.header-main .header-wrap-logo {
  display: block;
  cursor: pointer;
  width: 20.5rem;
  height: 6rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header-main .header-wrap-search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 6.4rem;
  position: relative;
}

.header-main .header-wrap-search-input {
  font-family: 'SF Pro Display',sans-serif;
  height: 4.8rem;
  border-radius: 10rem;
  background-color: #F8F8F8;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 3rem 0 5.5rem;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.5;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-main .header-wrap-search-input:focus {
  border: 1px solid #26948A;
}

.header-main .header-wrap-search button {
  border: none;
}

.header-main .header-wrap-search button-icon {
  background: none;
  padding: 0;
}

.header-main .header-wrap-search-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header-main .header-wrap-sample {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5rem;
  padding: 0 5rem;
  height: 100%;
  background-color: #2E3449;
  position: relative;
  border-radius: 0 0 2rem 2rem;
}

.header-main .header-wrap-sample::before {
  content: '';
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 81px solid #2E3449;
  left: -18px;
}

.header-main .header-wrap-sample::after {
  content: '';
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-top: 81px solid #2E3449;
  right: -18px;
}

.header-main .header-wrap-sample-item {
  margin-right: 4rem;
}

.header-main .header-wrap-sample-item:nth-child(3) {
  margin-right: 0;
}

.header-main .header-wrap-sample-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.header-main .header-wrap-sample-icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.8rem;
}

.header-main .header-wrap-sample-icon .icon {
  -o-object-fit: contain;
     object-fit: contain;
}

.header-main .header-wrap-sample-text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 9rem;
}

.header-main .header-wrap-sample .curved {
  position: absolute;
  width: 3rem;
  height: 2rem;
  overflow: hidden;
  z-index: 1;
}

.header-main .header-wrap-sample .curved-left {
  left: -4rem;
  top: 0;
}

.header-main .header-wrap-sample .curved-left::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  top: 0;
  right: 0;
  -webkit-box-shadow: 3rem -3rem 0 0 #2e3449;
          box-shadow: 3rem -3rem 0 0 #2e3449;
}

.header-main .header-wrap-sample .curved-right {
  right: -4rem;
  top: 0;
}

.header-main .header-wrap-sample .curved-right::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  top: 0;
  left: 0;
  -webkit-box-shadow: -3rem -3rem 0 0 #2e3449;
          box-shadow: -3rem -3rem 0 0 #2e3449;
}

.header-main .header-wrap .mobile-search {
  display: none;
}

.header-main .header-wrap .mobile-search-icon {
  display: none;
}

.header-main .header-wrap .burger {
  display: none;
}

.header-nav {
  background-color: #fff;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 0.1rem 0.2rem 0 #99999959;
          box-shadow: 0 0.1rem 0.2rem 0 #99999959;
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-nav ul, .header-nav li {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
  padding: 0;
}

.header-nav a {
  text-decoration: none;
  color: #26948A;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: block;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-list-menu-item {
  padding: 1rem;
  display: inline;
}

.header-nav-list i {
  position: absolute;
  right: 1rem;
  top: 0.2rem;
  font-size: 1.5rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header-nav-list-dropdown-son i {
  top: 1rem;
}

.header-nav-item-dropdown-submenu {
  display: none;
}

.header-nav-item-dropdown-submenu-son {
  display: none;
}

.header-nav-list-menu-item:hover .header-nav-item-dropdown-submenu
, .header-nav-list-dropdown-son:hover .header-nav-item-dropdown-submenu-son {
  display: block;
}

.header-nav .dropdown {
  top: 95%;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  width: 100%;
}

.header-nav .dropdown .header-nav-list-menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
}

.header-nav .dropdown .header-nav-list-menu-item a {
  padding: 10px 14px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #26948A;
  font-weight: 500;
}

.header-nav .dropdown .header-nav-list-menu-item a:hover {
  background-color: #26948A;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #fff;
}

.header-nav .dropdown-list {
  margin: -3.5rem 0 0 19.7rem;
  width: 20rem;
}

.fixNav {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: 10s linear;
  transition: 10s linear;
}

.footer {
  background-color: #2E3449;
  padding: 7.2rem 0 4.6rem 0;
}

.footer-about-image {
  width: 205px;
  height: 60px;
  cursor: pointer;
  display: block;
  margin-bottom: 18px;
}

.footer p {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.footer span {
  color: #fff;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 24px;
  text-transform: uppercase;
  display: block;
}

.footer-support__list--item {
  margin-top: 2rem;
}

.footer-support__list--item:first-child {
  margin-top: 0;
}

.footer-support__list--item a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: block;
  color: #fff;
  font-size: 1.6rem;
}

.footer-support__list--item a:hover {
  color: #26948A;
}

.footer-companyLocation, .footer-tradeLocation {
  width: 27rem;
  height: 16rem;
}

.footer-second {
  border-top: 1px solid #ffffff33;
  margin-top: 4rem;
  padding-top: 4rem;
}

.footer-second-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-second-item-image {
  height: 2.4rem;
  width: 12.7rem;
  margin-right: 2rem;
}

.active {
  color: #26948A !important;
}

html,
body {
  overflow-x: hidden;
  font-size: 1.6rem;
  line-height: 1em;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'SF Pro Display',sans-serif;
  line-height: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

a:hover {
  color: #000;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.slick-next,
.slick-prev {
  display: none;
}

.header-active {
  color: #0FD186;
  font-weight: bold;
}

.wrap-body {
  padding-top: 10rem;
}

.title h4 {
  margin: 1rem 0;
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
}

.title h4 span {
  color: #26948a;
}

.title .social__list--item {
  list-style: none;
  display: inline-block;
  margin: 1rem 1rem 0 0;
}

.title .social__list--item a {
  text-decoration: none;
  width: 4rem;
  height: 4rem;
}

.addressTrade {
  padding: 0 1.5rem;
}

.addressTrade h4 {
  display: block;
  color: #2E3449;
  margin: 1.5rem 0 0.8rem 0;
  font-size: 1.6rem;
  font-weight: 700;
}

.addressTrade p {
  font-size: 1.6rem;
}

.contactForm-retangle-item-1 {
  top: 10%;
  left: -1%;
  width: 144px;
  height: 144px;
}

.contactForm-retangle-item-2 {
  bottom: 43%;
  left: 14%;
  width: 42px;
  height: 42px;
}

.contactForm-retangle-item-3 {
  top: 13%;
  right: 36%;
  width: 70px;
  height: 70px;
}
/*# sourceMappingURL=main.css.map */