@font-face {
  font-family: Inter;
  src: url("../font/Inter.ttf");
}

@font-face {
  font-family: Inter-Regular;
  src: url("../font/Inter-Regular.otf");
}

@font-face {
  font-family: Inter-SemiBold;
  src: url("../font/Inter-SemiBold.otf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../font/Roboto-Bold.ttf");
}

@font-face {
  font-family: SVN-Taken by Vultures;
  src: url("../font/SVN-Taken-by-Vultures.otf");
}

@font-face {
  font-family: SF Pro Display-Regular;
  src: url("../font/SFProDisplay-Regular.ttf");
}

.container {
  max-width: 1200px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 50;
}

.header-main {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.header-main::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 0.5rem;
  background-color: #2E3449;
}

.header-main .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9.6rem;
}

.header-main .header-wrap a {
  text-decoration: none;
}

.header-main .header-wrap-logo {
  display: block;
  cursor: pointer;
  width: 20.5rem;
  height: 6rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header-main .header-wrap-search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 6.4rem;
  position: relative;
}

.header-main .header-wrap-search-input {
  font-family: 'SF Pro Display',sans-serif;
  height: 4.8rem;
  border-radius: 10rem;
  background-color: #F8F8F8;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 3rem 0 5.5rem;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.5;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-main .header-wrap-search-input:focus {
  border: 1px solid #26948A;
}

.header-main .header-wrap-search button {
  border: none;
}

.header-main .header-wrap-search button-icon {
  background: none;
  padding: 0;
}

.header-main .header-wrap-search-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header-main .header-wrap-sample {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5rem;
  padding: 0 5rem;
  height: 100%;
  background-color: #2E3449;
  position: relative;
  border-radius: 0 0 2rem 2rem;
}

.header-main .header-wrap-sample::before {
  content: '';
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 81px solid #2E3449;
  left: -18px;
}

.header-main .header-wrap-sample::after {
  content: '';
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-top: 81px solid #2E3449;
  right: -18px;
}

.header-main .header-wrap-sample-item {
  margin-right: 4rem;
}

.header-main .header-wrap-sample-item:nth-child(3) {
  margin-right: 0;
}

.header-main .header-wrap-sample-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.header-main .header-wrap-sample-icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.8rem;
}

.header-main .header-wrap-sample-icon .icon {
  -o-object-fit: contain;
     object-fit: contain;
}

.header-main .header-wrap-sample-text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 9rem;
}

.header-main .header-wrap-sample .curved {
  position: absolute;
  width: 3rem;
  height: 2rem;
  overflow: hidden;
  z-index: 1;
}

.header-main .header-wrap-sample .curved-left {
  left: -4rem;
  top: 0;
}

.header-main .header-wrap-sample .curved-left::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  top: 0;
  right: 0;
  -webkit-box-shadow: 3rem -3rem 0 0 #2e3449;
          box-shadow: 3rem -3rem 0 0 #2e3449;
}

.header-main .header-wrap-sample .curved-right {
  right: -4rem;
  top: 0;
}

.header-main .header-wrap-sample .curved-right::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  top: 0;
  left: 0;
  -webkit-box-shadow: -3rem -3rem 0 0 #2e3449;
          box-shadow: -3rem -3rem 0 0 #2e3449;
}

.header-main .header-wrap .mobile-search {
  display: none;
}

.header-main .header-wrap .mobile-search-icon {
  display: none;
}

.header-main .header-wrap .burger {
  display: none;
}

.header-nav {
  background-color: #fff;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 0.1rem 0.2rem 0 #99999959;
          box-shadow: 0 0.1rem 0.2rem 0 #99999959;
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-nav ul, .header-nav li {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
  padding: 0;
}

.header-nav a {
  text-decoration: none;
  color: #26948A;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: block;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-list-menu-item {
  padding: 1rem;
  display: inline;
}

.header-nav-list i {
  position: absolute;
  right: 1rem;
  top: 0.2rem;
  font-size: 1.5rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header-nav-list-dropdown-son i {
  top: 1rem;
}

.header-nav-item-dropdown-submenu {
  display: none;
}

.header-nav-item-dropdown-submenu-son {
  display: none;
}

.header-nav-list-menu-item:hover .header-nav-item-dropdown-submenu
, .header-nav-list-dropdown-son:hover .header-nav-item-dropdown-submenu-son {
  display: block;
}

.header-nav .dropdown {
  top: 95%;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  width: 100%;
}

.header-nav .dropdown .header-nav-list-menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
  z-index: 10;
}

.header-nav .dropdown .header-nav-list-menu-item a {
  padding: 10px 14px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #26948A;
  font-weight: 500;
}

.header-nav .dropdown .header-nav-list-menu-item a:hover {
  background-color: #26948A;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #fff;
}

.header-nav .dropdown-list {
  margin: -3.5rem 0 0 19.7rem;
  width: 20rem;
}

.fixNav {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: 10s linear;
  transition: 10s linear;
  z-index: 100;
}

.footer {
  background-color: #2E3449;
  padding: 7.2rem 0 4.6rem 0;
}

.footer-about-image {
  width: 205px;
  height: 60px;
  cursor: pointer;
  display: block;
  margin-bottom: 18px;
}

.footer p {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.footer span {
  color: #fff;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 24px;
  text-transform: uppercase;
  display: block;
}

.footer-support__list--item {
  margin-top: 2rem;
}

.footer-support__list--item:first-child {
  margin-top: 0;
}

.footer-support__list--item a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: block;
  color: #fff;
  font-size: 1.6rem;
}

.footer-support__list--item a:hover {
  color: #26948A;
}

.footer-companyLocation, .footer-tradeLocation {
  width: 27rem;
  height: 16rem;
}

.footer-second {
  border-top: 1px solid #ffffff33;
  margin-top: 4rem;
  padding-top: 4rem;
}

.footer-second-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-second-item-image {
  height: 2.4rem;
  width: 12.7rem;
  margin-right: 2rem;
}

.active {
  color: #26948A !important;
}

html,
body {
  overflow-x: hidden;
  font-size: 1.6rem;
  line-height: 1em;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'SF Pro Display',sans-serif;
  line-height: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

a:hover {
  color: #000;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.slick-next,
.slick-prev {
  display: none;
}

.header-active {
  color: #0FD186;
  font-weight: bold;
}

.wrap-body {
  padding-top: 10rem;
}

.contact-content {
  margin-bottom: 20rem;
}

.title h4 {
  margin: 1rem 0;
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
}

.title h4 span {
  color: #26948a;
}

.title .social__list--item {
  list-style: none;
  display: inline-block;
  margin: 1rem 1rem 0 0;
}

.title .social__list--item a {
  text-decoration: none;
  width: 4rem;
  height: 4rem;
}

.addressTrade {
  padding: 0 1.5rem;
}

.addressTrade h4 {
  display: block;
  color: #2E3449;
  margin: 1.5rem 0 0.8rem 0;
  font-size: 1.6rem;
  font-weight: 700;
}

.addressTrade p {
  font-size: 1.6rem;
}

.contactForm-retangle-item-1 {
  top: 10%;
  left: -1%;
  width: 144px;
  height: 144px;
}

.contactForm-retangle-item-2 {
  bottom: 43%;
  left: 14%;
  width: 42px;
  height: 42px;
}

.contactForm-retangle-item-3 {
  top: 13%;
  right: 36%;
  width: 70px;
  height: 70px;
}

.contactForm-retangle-item-4 {
  bottom: 39%;
  right: 28%;
  width: 70px;
  height: 70px;
}

.contactForm-retangle-item-5 {
  bottom: 5%;
  right: 12%;
  width: 41px;
  height: 41px;
}

.contactForm-retangle-item-6 {
  width: 105px;
  height: 105px;
  right: 0;
  top: 10%;
}

iframe {
  margin-bottom: -1rem;
}

.contactForm {
  position: relative;
  overflow: hidden;
  padding-bottom: 10rem;
}

.contactForm h4 {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}

.contactForm-retangle {
  position: absolute;
  z-index: -1;
}

.contactForm .form {
  width: calc(100%*(8/12));
  position: relative;
  z-index: 10;
}

.contactForm .form-item {
  margin-bottom: 1.6rem;
}

.contactForm .form-item input {
  height: 48px;
  background-color: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0 16px;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.4;
  outline: none;
}

.contactForm .form-item-btw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 -5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactForm .form-item-btw-son {
  width: 50%;
  padding: 0 5px;
  position: relative;
}

.contactForm .form-item-btw-son p {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-size: 1.6rem;
}

.contactForm .form-item-btw-son .form-item-3 {
  padding-left: 6rem;
}

.contactForm .form-item-4 {
  height: initial;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-size: 1.6rem;
}

.contactForm .form-item-4:focus {
  outline: none;
}

.contactForm .form-item-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 6px;
  background-color: #26948A;
  border: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contactForm .form-item-5:hover {
  background-color: #2E3449;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contactForm .form-item-5 img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
}

.contactForm .form-item-5 p {
  font-size: 1.6rem;
  color: #fff;
}

.contactForm .contact-br {
  position: absolute;
  width: 61%;
  bottom: -15%;
  right: 0;
  z-index: -2;
}

.contactForm .contact-br-img {
  padding-top: calc((767/1055)*100%);
  position: relative;
}

.contactForm .contact-br-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.construction {
  margin-bottom: 20rem;
}

.construction-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  text-align: center;
}

.construction-title h4 {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}

.construction-list .slick-dots {
  bottom: -8rem;
}

.construction-list .slick-dots li {
  background-color: #cccccc;
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;
}

.construction-list .slick-dots li button {
  margin: 1rem auto;
  color: black;
  font-size: 1.6rem;
}

.construction-list .slick-dots li button::before {
  display: none;
}

.construction-list .slick-dots .slick-active {
  background-color: #26948a;
}

.construction-list .slick-dots .slick-active button {
  color: #fff;
}

.construction-list .slick-next {
  right: 49.6rem;
  top: 65.2rem;
  background-color: #cccccc;
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;
  z-index: 1;
}

.construction-list .slick-next:hover {
  background-color: #26948a;
  color: #fff;
}

.construction-list .slick-next:focus {
  background-color: #cccccc;
}

.construction-list .slick-next:focus:hover {
  background-color: #26948a;
}

.construction-list .slick-next::before {
  color: #fff0;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  background-image: url("../images/chevron-right-solid.svg");
  background-repeat: no-repeat;
  -webkit-filter: brightness(0) invert(0);
          filter: brightness(0) invert(0);
}

.construction-list .slick-prev {
  display: none;
}

.construction-list__item {
  margin-bottom: 3rem;
  margin-right: 1rem !important;
  position: relative;
  overflow: hidden;
}

.construction-list__item:hover .construction-list__item--content {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.construction-list__item:hover .construction-list__item--content .overlay-item {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.construction-list__item--image {
  height: 26rem;
  width: 37rem;
  margin: 0 2rem 0 -2rem;
}

.construction-list__item--content {
  visibility: hidden;
}

.construction .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 37rem;
}

.construction .overlay h4 {
  font-size: 2.4rem;
  line-height: 1.2;
}

.construction .overlay p {
  color: rgba(46, 52, 73, 0.6);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.6rem;
}

.construction .overlay-item {
  padding: 16px 24px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.construction .overlay .project-btn {
  position: relative;
  padding: 0;
}

.construction .overlay .project-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #26948A;
}

.construction .overlay .project-btn .btn-esp {
  padding: 10px 40px;
  display: block;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.construction .overlay .project-btn .btn-esp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #26948A;
  -webkit-transform: perspective(10px) rotateX(1deg) translateY(-1px);
          transform: perspective(10px) rotateX(1deg) translateY(-1px);
  border-radius: 26px 26px 0 0;
}

.construction .overlay .project-btn .btn-esp-text {
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 10;
}

.construction .overlay .project-btn .btn-esp .curved {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: perspective(0) rotateX(0deg);
          transform: perspective(0) rotateX(0deg);
}

.construction .overlay .project-btn .btn-esp .curved::before {
  content: '';
  position: absolute;
  width: 250%;
  height: 250%;
  border-radius: 50%;
}

.construction .overlay .project-btn .btn-esp .curved-left {
  left: -18px;
  bottom: 1px;
}

.construction .overlay .project-btn .btn-esp .curved-left::before {
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 30px 30px 0 0 #26948a;
          box-shadow: 30px 30px 0 0 #26948a;
}

.construction .overlay .project-btn .btn-esp .curved-right {
  right: -18px;
  bottom: 1px;
}

.construction .overlay .project-btn .btn-esp .curved-right::before {
  bottom: 0;
  left: 0;
  -webkit-box-shadow: -30px 30px 0 0 #26948a;
          box-shadow: -30px 30px 0 0 #26948a;
}

.construction .overlay .project-btn .btn-esp.m-right {
  margin-left: auto;
  margin-right: 25px;
}

.manualContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manualContent-post {
  width: calc(100%*(8/12));
  margin: 0 1.6rem 0 1.6rem;
}

.manualContent-post-list h4 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.manualContent-post-list-items {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 12rem;
  padding-bottom: 1rem;
}

.manualContent-post-list-items-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 20rem;
  margin-bottom: 3rem;
}

.manualContent-post-list-items-item-img {
  overflow: hidden;
  width: 20rem;
}

.manualContent-post-list-items-item-content {
  padding-left: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.manualContent-post-list-items-item-content h4 {
  line-height: 1.4;
  font-weight: 700;
  cursor: pointer;
  color: #2E3449;
  margin-bottom: 0.8rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 2.4rem;
}

.manualContent-post-list-items-item-content p {
  color: rgba(46, 52, 73, 0.6);
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}

.manualContent-post-list-items-item-content-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.manualContent-post-list-items-item-content-button:hover .manualContent-post-list-items-item-content-button-circle {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
}

.manualContent-post-list-items-item-content-button:hover .manualContent-post-list-items-item-content-button-text {
  color: #26948A;
}

.manualContent-post-list-items-item-content-button-circle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 3.2rem;
  height: 3.2rem;
  -webkit-transition: 0.6s linear;
  transition: 0.6s linear;
}

.manualContent-post-list-items-item-content-button-circle .circle-bg {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 2;
  overflow: hidden;
}

.manualContent-post-list-items-item-content-button-circle .circle {
  stroke: #26948A;
  -webkit-transition: stroke-dasharray 1.2s ease-in-out;
  transition: stroke-dasharray 1.2s ease-in-out;
  fill: none;
  stroke-width: 2;
}

.manualContent-post-list-items-item-content-button-text {
  font-weight: 1.4rem;
  line-height: 1.2;
  color: #2E3449 !important;
  font-weight: 700;
  margin-left: -1rem;
  margin-bottom: 0 !important;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.manualContent-post-list .manualContent-post-item {
  width: 20em;
  margin: 0 auto;
}

.manualContent-post-list .manualContent-post-item__button {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  background-color: #e3e3e3;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: none;
  font-weight: 700;
  font-size: 1.6rem;
}

.manualContent-sidebarRight {
  width: calc(100%*(4/12));
}

.manualContent .slick-dots {
  bottom: -8rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  margin-left: 45%;
}

.manualContent .slick-dots li {
  background-color: #cccccc;
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.manualContent .slick-dots li button {
  margin: 1rem auto;
  color: black;
  font-size: 1.6rem;
  width: 100%;
  border: none;
  background: none;
}

.manualContent .slick-dots li button::before {
  display: none;
}

.manualContent .slick-dots .slick-active {
  background-color: #26948a;
}

.manualContent .slick-dots .slick-active button {
  color: #fff;
  border: none;
  background: none;
}

.manualContent .slick-next {
  background-color: #cccccc;
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;
  z-index: 1;
  border: none;
  position: absolute;
  bottom: -8rem;
  right: 24.5rem;
}

.manualContent .slick-next:hover {
  background-color: #26948a;
  color: #fff;
}

.manualContent .slick-next:focus {
  background-color: #cccccc;
}

.manualContent .slick-next:focus:hover {
  background-color: #26948a;
}

.manualContent .slick-next::before {
  color: #fff0;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  background-image: url("../images/chevron-right-solid.svg");
  background-repeat: no-repeat;
  -webkit-filter: brightness(0) invert(0);
          filter: brightness(0) invert(0);
}

.manualContent .slick-prev {
  display: none !important;
}

.manualContent-sidebarRight {
  padding: 15px 15px 0 15px;
  margin-bottom: 95px;
  text-align: center;
}

.manualContent-sidebarRight h4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  font-size: 3.2rem;
  line-height: 2.2;
  font-weight: 700;
}

.manualContent-sidebarRight h4 p {
  font-family: 'SVN-Taken by Vultures',sans-serif;
  font-size: 7.2rem;
  line-height: 1.2;
  color: #26948A;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.manualContent-sidebarRight p {
  font-size: 1.6rem;
  margin-bottom: 9.5rem;
}

.manualContent-sidebarRight .formSignup {
  background-image: url("../images/sidebar-form-br.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.manualContent-sidebarRight .formSignup .form-item-btw-son {
  width: 100%;
  padding: 0 1.5rem;
  position: relative;
}

.manualContent-sidebarRight .formSignup .form-item-btw-son input {
  height: 48px;
  width: 100%;
  font-family: 'SF Pro Display',sans-serif;
  padding: 0 15px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  line-height: 1;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.manualContent-sidebarRight .formSignup .form-item-btw-son .form-item-3 {
  padding-left: 6rem;
}

.manualContent-sidebarRight .formSignup .form-item-btw-son p {
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  font-size: 1.6rem;
}

.manualContent-sidebarRight .formSignup .form-item-5 {
  position: relative;
  width: 100%;
  border: none;
  height: 6rem;
  margin-bottom: 4rem;
  z-index: 2;
}

.manualContent-sidebarRight .formSignup .form-item-5::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3px;
  background: #26948A;
  margin-left: 1.6rem;
}

.manualContent-sidebarRight .formSignup .form-item-5 img {
  margin-right: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  z-index: 10;
  top: 2.8rem;
  left: -1rem;
}

.manualContent-sidebarRight .formSignup .form-item-5 button {
  height: 1px;
}

.manualContent-sidebarRight .formSignup .form-item-5 button::before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 10rem;
  right: 0;
  bottom: 0;
  background-color: #26948A;
  -webkit-transform: perspective(10px) rotateX(1deg) translateY(-1px);
          transform: perspective(10px) rotateX(1deg) translateY(-1px);
  border-radius: 2.6rem 2.6rem 0 0;
  width: 14rem;
  height: 4rem;
}

.manualContent-sidebarRight .formSignup .form-item-5 p {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 10;
  top: 1rem;
  left: 2rem;
}

.manualContent-sidebarRight .formSignup .form-item-5 .curved {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: perspective(0) rotateX(0deg);
          transform: perspective(0) rotateX(0deg);
}

.manualContent-sidebarRight .formSignup .form-item-5 .curved::before {
  content: '';
  position: absolute;
  width: 250%;
  height: 250%;
  border-radius: 50%;
}

.manualContent-sidebarRight .formSignup .form-item-5 .curved-left {
  left: 8rem;
  bottom: 1px;
}

.manualContent-sidebarRight .formSignup .form-item-5 .curved-left::before {
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 30px 30px 0 0 #26948a;
          box-shadow: 30px 30px 0 0 #26948a;
}

.manualContent-sidebarRight .formSignup .form-item-5 .curved-right {
  right: 7.5rem;
  bottom: 1px;
}

.manualContent-sidebarRight .formSignup .form-item-5 .curved-right::before {
  bottom: 0;
  left: 0;
  -webkit-box-shadow: -30px 30px 0 0 #26948a;
          box-shadow: -30px 30px 0 0 #26948a;
}

.manualContent-sidebarRight .relatedPosts .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4rem;
}

.manualContent-sidebarRight .relatedPosts .list .img {
  width: 10rem;
  height: 10rem;
}

.manualContent-sidebarRight .relatedPosts .list .right {
  width: 23rem;
  text-align: left;
}

.manualContent-sidebarRight .relatedPosts .list .right a {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 1rem;
}

.manualContent-sidebarRight .relatedPosts .list .right p {
  margin-left: 1rem;
  color: rgba(46, 52, 73, 0.6);
  margin-bottom: 1.6rem;
}

.manualContent-sidebarRight .relatedPosts h4 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
  padding-left: 100px;
  color: rgba(46, 52, 73, 0.4);
  position: relative;
  margin-bottom: 40px;
}

.manualContent-sidebarRight .relatedPosts h4::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 1px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=main.css.map */